[Unit]
Description=Wait time to InfluxDB become UP at startup

[Timer]

OnBootSec=1min
Unit=grafana-influxdb-http.service

[Install]
WantedBy=multi-user.target
